.avatar {
  line-height: 0;
  display: inline-block;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: linear 0.25s;
  width: 30px;
  height: 30px;
  overflow: hidden;
  img {
    width: 100%;
  }
  &-small {
    width: 20px;
    height: 20px;
  }
  &-medium {
    width: 40px;
    height: 40px;
  }
  &-large {
    width: 60px;
    height: 60px;
  }
  &:hover {
    transition: ease-out 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: ease-out 0.2s;
  }
}
